dist: trusty
sudo: required
python:
  - "3.5"
  - "3.6"
install:
  - sudo apt-get -y install python3-pip xzdec xz-utils wget
  - source ./support/install_texlive.sh
  - sudo pip3 install -r src/requirements.txt
cache:
  directories:
    - /tmp/texlive
    - $HOME/.texlive
script:
  # Prefix command with travis_wait x so it times out after 3 mins
  - mkdir build
  - cd src
  - python3 create_dtx_file.py
  - travis_wait 5 pdflatex -output-directory ../build ./rozet.dtx
  - travis_wait 5 pdflatex -output-directory ../build ./rozet.ins
  - cd ..
  #- source ./examples/germany/download_files.sh
  #- travis_wait 3 pdflatex -output-directory _build ./src/germany/germany.tex
