python:
  - "3.5"
  - "3.6"
install:
  - sudo apt-get -y install python3-pip
  - source ./support/install_texlive.sh
  - pip3 install -r requirements.txt
cache:
  directories:
    - /tmp/texlive
    - $HOME/.texlive
script:
  # Prefix command with travis_wait x so it times out after 3 mins
  - mkdir build
  - cd src
  - python3 create_dtx_file.py
  - cd ..
  - travis_wait 5 pdflatex -output-directory build ./src/rozet.dtx
  - travis_wait 5 pdflatex -output-directory build ./src/rozet.ins
  #- source ./examples/germany/download_files.sh
  #- travis_wait 3 pdflatex -output-directory _build ./src/germany/germany.tex
